// Style des cartes recettes
body {
  background-image: $bgImage;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding-top: 10px;}

  #recipeSearch {
    display: flex;
    flex-direction: column;
    margin: 14px;
  }

  #titleh2 {
    color: $colorPrimary;
  }
  input {
    border-radius: $borderRadius;
    border: 5px solid rgb(173, 169, 169);
    padding: 10px;
    display: none;
    background-image: $iconimg;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 35px;
    height: 40px;
    font-size: 16px;
  }

  #recipes-container {
    // background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
  }
  .recipe-card {
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 46px;
    background-color: #fff;

    overflow: hidden;
    font-family: sans-serif;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
  }
  .div1 {
    flex-direction: column;

    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
  }


.div2 {
  display: flex;
  gap: 15px;
  padding-top: 18px;
}
.div2 .recipe-img {
  width: 35px;
  height: 35px;

  object-fit: cover;
  cursor: pointer;
}
.recipe-img {
  width: 16px;
  height: 16px;
}
.img {
  justify-content: center;
}
.img .icon-share {
  border-radius: 50%;

  height: 150px;
  object-fit: cover;
}

.div1 > .recipe-title {
  color: $colorPrimary;

  overflow: hidden;
  text-overflow: nowrap;
}
#Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: $color;
  font-family: $fontFamily;
  font-weight: $fontWaightPrimary;
  font-size: 40px;
  text-align: center;
}
button {
  color: $color;
  background-color: $secondaryColor;
  border-radius: $borderRadius;
  width: 196px;
  height: 67px;
  font-weight: $fontWaightSecondary;
  cursor: pointer;
}

#msgloader.hidden {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  p {
    display: none;
    font-size: 18px;
    color: black;
  }
  #spiner {
    display: none;
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top: 6px solid #ff4d4d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
