//  font

$fontFamily:'Inter', sans-serif;
$fontWaightPrimary:800;
$fontWaightSecondary:600;
$semititleFont:Arial;

//color for bg
$bgColorBody:white;
$bgdivColor:#FFF7BA, #E8FFB7, #BBFFBB;


//bg img
$bgImage: url('../images/bg.jpg');

//color text
$color:white;
$colorPrimary:black;
$secondaryColor:#E23E3E;
$semititleColor:gray;


//size radius
$borderRadius:41px;
