// Couleurs , font-sizes
$fonth1:bold;
$bgColorBody:white;
$bgbtnColor:#FFF7BA, #E8FFB7, #BBFFBB;
$colorPrimary:black;
$secondaryColor:#E23E3E;
$semititleColor:gray;
$semititleFont:Arial;
$borderRadius:34px;
